html {
	background-color: #FFFFFF;
}

h1#title {
	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #338800;
}

h2#subtitle {
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #77BB00;
}

div#container {
	width: 960px;
	margin: auto;
}

header {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

footer {
	clear: both;
	border-top: 1px #666666 solid;
	width:960px;
	margin:auto;
	text-align: right;
}

p#footer-text {
	font-family: 'Roboto Condensed', sans-serif;
	color: #666666;
	margin-top: 5px;
}

div#main-content {
	margin-top: 50px;
}

ul#main-content-list {
	width: 300px;
	float: left;
}

div#main-content-example {
	float: left;
	width: 600px;
}

ul#main-content-list > li {
	margin-bottom: 20px;
	color: #00BBDD;
	font-size: 50px;
	display: inline-block;
	text-shadow: 1px 1px 1px #666666;
}

li > a {
	color: #00BBDD;
}

li > a {
	color: #00BBDD;
}

pre {
	background-color: #F8F8F8;
	border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    padding: 30px;
    margin-top: 0px;
    box-shadow: 2px 2px 2px #999999;
}

ul#main-content-list > li > a:hover {
	color: #0066AA;
}